@model IEnumerable<SwiftSetWeb.Models.SortingCategory>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<div class="wrapper">
    <!-- Page Content -->
    <div id="content">
        <a asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
        <a id="ClearSortButton">Clear Sorting</a>
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="SortingButton" id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".SortingButton").on("click", function () {
                var path = '@Url.Action("AddSort","Exercises")';
                $.ajax({
                    type: "POST",
                    url: path,
                    data: { categoryId: this.id },
                    success: function (modal, status) {

                    }
                });
            });
            $("#ClearSortButton").on("click", function () {
                var path = '@Url.Action("ClearSort","Exercises")';
                $.ajax({
                    type: "POST",
                    url: path,
                    success: function (modal, status) {

                    }
                });
            });
        });
    </script>
}