/*Top Bar*/

.top-buffer {
    margin: 15px 0px 15px 0px;
    padding: 20px;
    background-color: #CDB87D;
    margin: 20px 0px;
}

.Selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    background-color: #CDB87D;
}

.multiChoiceButton, .AddCategory, .GroupButton {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    margin: 1px 1px;
    white-space: normal;
    padding: 0px;
    background-color: #1C2957;
}

#Groups {
    margin: auto;
    display: inline-block;
}


/*Search Results*/

#Results {
    display: block;
    margin: auto;
    width: 100%;
}

    #ExerciseTitle {
    float: left
}

#randomButton {
    float: right;
    background-color: #1C2957;
    border: #0288d1;
    border-radius: 4px;
    elevation: above;
}

#searchBox, searchHeader {
    display: block;
    width: 100%;
}

#ExerciseTable {
    height: 500px;
    overflow-y: scroll;
    display: block;
}

.resultsButton {
    width: calc(33% - 6px);
    margin: 8px 1px;
    white-space: normal;
    border-radius: 4px;
    elevation: above;
    background-color: #1C2957;
}

/*Chosen Categories*/

#categoriesContainer {
    display: block;
    margin: 0px 50px;
    color: white;
    background-color: #CDB87D;
    min-height: 583px;
}

#ChosenCategories {
    display: block;
    padding: 0px;
}

#ChosenCategories li {
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-size: larger;
    background-color: #1C2957;
    margin: 10px;
    border-radius: 1px;
}

.sortingTitle {
    text-align: center;
    font-size: larger;
    color: white;
    padding: 20px 20px;
    border-bottom: 3px solid black;
    background-color: #1C2957;
}

#ClearSortButton {
    margin-top: 20px;
    display: block;
    margin: auto;
    border-radius: 4px;
    elevation: above;
}

/*Bootstrap button overwrites*/

.btn-primary:hover {
    background-color: #131c3a;
}

.btn-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary.active, .btn-primary.active:hover, .btn-primary:active, .btn-primary.active:focus {
    background-color: #131c3a;
    color: white;
    border-color: #131c3a;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #1C2957;
    min-height: 45px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #131c3a;
    }

/*Navbar*/

.navbar {
    background-color: #f1f1f1;
    border-bottom-width: 0px;
}

.navbar-inverse .navbar-brand {
    color: #1C2957;
}

.navbar-inverse .navbar-brand:hover {
    color: #131c3a;
}

.navbar-inverse .navbar-nav > li > a {
    color: #1C2957;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #131c3a;
}

.container {
    margin-left: 0px;
}