#ClearSortButton {
    margin-top: 20px;
    display: block;
    margin: auto;
    border-radius: 30px;
}

#Groups{
    margin: auto;
    display: inline-block;
}

.multiChoiceButton, .AddCategory, .GroupButton {
    width: 90px;
    height: 90px;
    border-radius: 4px !important;
    margin: 1px 1px;
    white-space: normal;
    padding: 0px;
}

.ControlButtons button {
    font-weight: bold;
    width: 200px;
    display: inline-block;
    flex-grow: 1; /* key rule */
    margin-right: 4px;
}

.ControlButtons {
    display: flex;
    margin-left: 18px;
}

.btn-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

#ChosenCategories {
    display: block;
    padding: 0px;
}

.Selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    background-color: cornflowerblue;
}

#ChosenCategories li {
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-size: larger;
}

.btn-primary.active, .btn-primary.active:hover, .btn-primary:active, .btn-primary.active:focus {
    background-color: mediumblue;
    color: white;
    border-color: mediumblue;
}

#categoriesContainer {
    display: block;
    margin: 0px 50px;
    color: white;
    background-color: cornflowerblue;
    min-height: 583px;
}

#Results {
    display: block;
    margin: auto;
    width: 100%;
}


/*Table*/

#ExerciseTable {
    height:500px; 
    overflow-y: scroll;
    display: block;
}

#ExerciseTable a {
    width: calc(33% - 6px);
    margin: 8px 1px;
    white-space: normal;
}

.top-buffer {
    margin: 20px;
}

#ExerciseTitle {
    display: inline-block;
    float: left
}

#randomButton {
    display: inline-block;
    float: right;
    background-color: #0288d1;
    border: #0288d1;
}

#searchBox, searchHeader {
    display: block;
    width: 100%;
}

.container {
    margin-left: 0px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    color: white;
}

.top-buffer {
    margin: 15px 0px 15px 0px;
    padding: 20px;
    background-color: cornflowerblue;
}

.sortingTitle{
    text-align: center;
    font-size: larger;
    color: white;
    padding: 20px 20px;
    border-bottom: 3px solid black;
    background-color: blue;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
    min-height: 45px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: blue;
}

/*Navbar*/

.navbar {
    background-color: #e8e3e3;
    border-bottom-color: #fdd835;
}

.navbar-inverse .navbar-brand {
    color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a {
    color: dimgray;
}