body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#Groups {
    float: left;
    display: inline-block;
    width:auto;
    height: 100%;
}

#Categories {
    float: left;
    display: inline-block;
    width: 10%;
    height: 100%;
}

#end {
    display: block;
}
.multiChoiceButton, .AddCategory {
    width: 150px;
    border-radius: 4px !important;
    margin: 2px 4px 2px 4px;
}

.GroupButton, .BackToGroupButton{
    width: 200px;
}

.BackToGroupButton {
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.CategoryRows {
    margin-bottom: 10px;
}

.ControlButtons button {
    font-weight: bold;
    width: 200px;
}

#mainTable tr td{
    border-top: 0px;
}

.btn-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

#ClearSortButton {
    margin-top: 10px;
    display: block;
}