body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#Groups {
    display: inline-block;
    width:auto;
    height: 100%;
    margin-top: 5px;
}

#Categories {
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
}

#end {
    display: block;
}
.multiChoiceButton, .AddCategory {
    width: 100px;
    height: 100px;
    border-radius: 4px !important;
    margin: 2px;
    white-space: normal;
}

.GroupButton{
    width: 200px;
    margin-left: 10px;
}

.CategoryRows {
    margin-bottom: 10px;
    margin-top: -4px;
}

.ControlButtons button {
    font-weight: bold;
    width: 200px;
    display: inline-block;
    flex-grow: 1; /* key rule */
    margin-right: 4px;
}

.ControlButtons {
    display: flex;
    margin-left: 18px;
}

#mainTable tr td{
    border-top: 0px;
}

.btn-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

#ChosenCategories li {
    padding: 5px 10px 5px 10px;
    background-color: #337ab7;
    color: white;
    border-right: 2px solid white;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin: 10px 10px 0px 10px;
    display: inline-block;
}

.btn-primary.active, .btn-primary.active:hover, .btn-primary:active, .btn-primary.active:focus {
    background-color: mediumblue;
    color: white;
    border-color: mediumblue;
}

.categoriesList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
}

li {
    list-style: none;
}

#categoriesContainer {
    margin-left: 14px;
}

#Selection, #Results {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

#Results {
    margin-top: 10px;
}

.navbar{
    background-color: #e8e3e3;
}

.navbar-inverse .navbar-brand {
    color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a {
    color: dimgray;
}

#ExerciseTitle{
    margin-top: 0px;
}