
\.vs/SwiftSetWeb/v15/\.suo

\.vs/SwiftSetWeb/v15/Server/sqlite3/storage\.ide

\.vs/SwiftSetWeb/v15/Server/sqlite3/storage\.ide-wal

SwiftSetWeb/bin/Debug/netcoreapp2\.0/SwiftSetWeb\.dll

SwiftSetWeb/bin/Debug/netcoreapp2\.0/SwiftSetWeb\.pdb

SwiftSetWeb/obj/Debug/netcoreapp2\.0/SwiftSetWeb\.dll

SwiftSetWeb/obj/Debug/netcoreapp2\.0/SwiftSetWeb\.pdb
