@model SwiftSetWeb.Models.Exercises

@{
    ViewData["Title"] = Model.Name;
    string embedCode = ViewBag.embedCode;
    string embedTimeSeconds = ViewBag.embedTimeSeconds;
    Boolean fromRandom = ViewBag.fromRandom;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
@if (@fromRandom)
{
    <input class="btn btn-info" type="button" value="Choose Another Random" onclick="location.href='@Url.Action("Random", "Exercises")'" />
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <iframe width="560" height="315" src="//www.youtube.com/embed/@embedCode?start=@embedTimeSeconds" frameborder="0" allowfullscreen></iframe>
        </dd>
    </dl>
</div>