@model SwiftSetWeb.Models.Exercises

@{
    ViewData["Title"] = Model.Name;
    string embedCode = ViewBag.embedCode;
    string embedTimeSeconds = ViewBag.embedTimeSeconds;
    Boolean fromRandom = ViewBag.fromRandom;
}

<link rel="stylesheet" href="~/css/details.css" />
<div class="container-fluid">
    <div class="row" align="center">
        <h2 id="title">@Html.DisplayFor(model => model.Name)</h2>
        @if (@fromRandom)
        {
            <input id="chooseRandomButton" class="btn btn-info" type="button" value="Choose Another Random" onclick="location.href='@Url.Action("Random", "Exercises")'" />
        }
    </div>
    <div class="row" align="center">
        <iframe id="video" width="560" height="315" src="//www.youtube.com/embed/@embedCode?start=@embedTimeSeconds" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
