@model SwiftSetWeb.Models.Exercises

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Exercises</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Eliminated" class="control-label"></label>
                <input asp-for="Eliminated" class="form-control" />
                <span asp-validation-for="Eliminated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Primary" class="control-label"></label>
                <input asp-for="Primary" class="form-control" />
                <span asp-validation-for="Primary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movement" class="control-label"></label>
                <input asp-for="Movement" class="form-control" />
                <span asp-validation-for="Movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angle" class="control-label"></label>
                <input asp-for="Angle" class="form-control" />
                <span asp-validation-for="Angle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempo" class="control-label"></label>
                <input asp-for="Tempo" class="form-control" />
                <span asp-validation-for="Tempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unilateral" class="control-label"></label>
                <input asp-for="Unilateral" class="form-control" />
                <span asp-validation-for="Unilateral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Joint" class="control-label"></label>
                <input asp-for="Joint" class="form-control" />
                <span asp-validation-for="Joint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stability" class="control-label"></label>
                <input asp-for="Stability" class="form-control" />
                <span asp-validation-for="Stability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport" class="control-label"></label>
                <input asp-for="Sport" class="form-control" />
                <span asp-validation-for="Sport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grip" class="control-label"></label>
                <input asp-for="Grip" class="form-control" />
                <span asp-validation-for="Grip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
