@model IEnumerable<SwiftSetWeb.Models.Exercises>

@{
    ViewData["Title"] = "Index";
    string searchText = ViewBag.searchText;
}

<h2>All Exercises</h2>
<form asp-controller="Exercises" asp-action="Index">
    <p>
        <input id="searchBox" type="text" name="SearchString" value="@searchText">
    </p>
</form>
<input class="btn btn-info" type="button" value="Choose Random" onclick="location.href='@Url.Action("Random", "Exercises")'" />
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count() == 0)
{
    <p>No exercises found matching current search</p>
}

